html {
    scroll-behavior: smooth;
}

.slider-container{
    width: 1519px;
    max-width: 100vw;
    height: 500px;
    position: relative;
    overflow: hidden;
}

.slider-list{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    display: flex;
    width: max-content;
    transition: 2s;
}

.slider-list img{
    width: 1519px;
    max-width: 100vw;
    height: 100%;
    /* object-fit: cover; */
    /* filter: blur(2px); */
}


/* Media Queries */
@media screen and (min-width:800px) {
    #slider{
        width: fit-content;
    }
}
